button {
  font-size: 250%;
  color: #bd8e04;
}

#input1 {
  font-family: cursive, fantasy ;
  font-size: 80%;
}

.input {
  font-family: arial, courier !important ;
  font-size: : 400% !important ;
}

input {
  font-family: serif;
  font-size: : 50% !im;
}
